.contact-form {
	text-align: center;
	h5 {
		font-size: 18px;
	}
	input[type="submit"] {
		width: 100%;
		@include breakpoint(700px, $no-query: true) {
			width: 80%;
		}
	}
}

.contact-form__name,
.contact-form__phone {
	display: inline-block;
	max-width: 100%;
}

// Contact Form 7 Classes
span.wpcf7-list-item {
	display: block;
	margin: 2em auto;
}

span.wpcf7-list-item-label {
	color: $black;
	font-family: $font__main;
	font-size: $base-font;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid $green;
	font-weight: 900;
}

div.wpcf7-response-output {
	padding: 1em;
}