input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background-color: $lt-gray;
	border: none;
	border-radius: 0;
	color: $black;
	font-family: $font__main;
	font-size: $base-font;
	padding: 15px;
	text-align: center;
	max-width: 100%;

	&:focus {
		color: $color__text-input-focus;
	}
}

textarea {
	width: 100%;
}
